ENV=dev

# Oracle simule
ORACLE_HOST=oracle-host
ORACLE_PORT=3307
ORACLE_USER=change-me
ORACLE_PASSWORD=change-me
ORACLE_DB=oracle_db

# MySQL source
MYSQL_HOST=mysql-host
MYSQL_PORT=3306
MYSQL_USER=change-me
MYSQL_PASSWORD=change-me
MYSQL_DB=mysql_db

# PostgreSQL cible
PG_HOST=postgres-host
PG_PORT=5432
PG_USER=change-me
PG_PASSWORD=change-me
PG_DB=migration_db

# Pieces jointes
ATTACHMENTS_SOURCE_DIR=/app/attachments/source
ATTACHMENTS_DEST_DIR=/app/attachments/migrated

# Logs
LOG_FILE=/app/logs/migration.log